.topic-footer-main-buttons,
.topic-list-bottom,
#topic-progress-wrapper,
.more-topics,
.popup-menu,
.admin-contents,
.user-main,
.bootbox.modal,
.d-editor-modal,
.composer-bottom-right,
.signup-cta {
  li.btn,
  label.btn,
  button.btn,
  a.btn[href] {
    color: var(--primary);
    background: transparent;
    border: 3px solid transparent;
    border-radius: 4px;

    .d-icon {
      color: var(--primary);
    }

    .discourse-no-touch & {
      &:hover,
      &.btn-hover {
        color: var(--primary);
        border-color: transparent;
        background-color: rgb(255, 255, 255, 0.25);
        box-shadow: none;

        .d-icon {
          color: var(--primary);
        }
      }
    }

    &[disabled],
    &.disabled {
      background: transparent;

      .d-icon {
        color: var(--primary);
      }
    }
  }
}

.btn {
  color: var(--primary);
  background: transparent;
  border: 3px solid transparent;
  border-radius: 4px;

  .d-icon {
    color: var(--primary);
  }

  .discourse-no-touch & {
    &:hover,
    &.btn-hover {
      color: var(--primary);
      border-color: transparent;
      background-color: rgb(255, 255, 255, 0.25);
      box-shadow: none;

      .d-icon {
        color: var(--primary);
      }
    }
  }

  &:active,
  &.btn-active {
    background: transparent;
    border-bottom-color: transparent;
  }

  &[disabled],
  &.disabled {
    background: transparent;

    .d-icon {
      color: var(--primary);
    }
  }

  &[href] {
    color: var(--primary);
  }
}

.btn.btn-default {
  background-color: transparent;
  color: var(--quaternary);
  border-width: 3px;
  border-color: var(--quaternary);
  text-transform: uppercase;

  .d-icon {
    color: var(--quaternary);
  }

  .discourse-no-touch & {
    &:hover,
    &.btn-hover {
      color: var(--primary);
      border-color: var(--quaternary);
      background-color: var(--quaternary);
      box-shadow: 0 0 25px -3px var(--quaternary);

      .d-icon {
        color: var(--primary);
      }
    }
  }

  &[disabled],
  &.disabled {
    background: transparent;

    .d-icon {
      color: var(--quaternary);
    }
  }

  &[href] {
    color: var(--quaternary);
  }
}

.btn.btn-primary {
  background-color: transparent;
  color: var(--tertiary);
  border-width: 3px;
  border-color: var(--tertiary);
  text-transform: uppercase;

  .d-icon {
    color: var(--tertiary);
  }

  .discourse-no-touch & {
    &:hover,
    &.btn-hover {
      color: var(--primary);
      border-color: var(--tertiary);
      background-color: var(--tertiary);
      box-shadow: 0 0 25px -3px var(--tertiary);

      .d-icon {
        color: var(--primary);
      }
    }
  }

  &:active,
  &.btn-active {
    background: transparent;
  }

  &[disabled],
  &.disabled {
    background: transparent;
  }

  &[href] {
    color: var(--tertiary);
  }
}

.btn.btn-danger {
  background-color: transparent;
  color: var(--danger);
  border-width: 3px;
  border-color: var(--danger);

  .d-icon {
    color: var(--danger);
  }

  .discourse-no-touch & {
    &:hover,
    &.btn-hover {
      color: var(--primary);
      border-color: var(--danger);
      background-color: var(--danger);
      box-shadow: 0 0 25px -3px var(--danger);

      .d-icon {
        color: var(--secondary);
      }
    }
  }

  &:active,
  &.btn-active {
    background: transparent;
  }

  &[disabled],
  &.disabled {
    background: transparent;
  }

  &[href] {
    color: var(--danger);
  }
}

.user-main .primary {
  a.btn[href],
  .btn {
    background-color: rgb(255, 255, 255, 0.25);
  }
}

.horizontal-overflow-nav__scroll-right,
.horizontal-overflow-nav__scroll-left {
  padding: 0.5em;

  .d-icon {
    margin: 0;
  }
}
