.sidebar-wrapper {
  background-color: var(--secondary);
  margin-top: 2.5em;

  .sidebar-section-link-wrapper {
    .sidebar-section-link {
      &:hover {
        background-color: rgba(33, 36, 36, 1);
        animation-name: fade-in-rgba;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 100ms;
      }
    }
  }

  .sidebar-footer-wrapper {
    background: var(--secondary);
    .sidebar-footer-container {
      background: none;
      &:before {
        background: linear-gradient(
          to bottom,
          transparent,
          rgba(var(--secondary-rgb), 1)
        );
      }
    }
  }
}

.discourse-no-touch .sidebar-section-wrapper .sidebar-section-header-wrapper {
  .btn:hover {
    background: none;
  }
  &:hover {
    color: rgb(255, 255, 255);
    background-color: var(--tertiary);
    border-radius: 4px;
    box-shadow: 0 0 25px -3px var(--tertiary);

    .sidebar-section-header-button .d-icon {
      color: var(--primary);
    }
  }
}

.discourse-no-touch
  .sidebar-section-wrapper
  .sidebar-section-header-wrapper
  .btn.dropdown-select-box-header:hover,
.discourse-no-touch
  .sidebar-section-wrapper
  .sidebar-section-header-wrapper
  .sidebar-section-header-button:hover {
  background: none;
}
