.sidebar-wrapper {
  background: $cyberpunk;
  margin: 1.5em 0 1.5em 1.5em;
  top: calc(var(--header-offset, 0) + 1.5em);
  height: calc(100vh - (var(--header-offset, 0) + 3em));

  .sidebar-section-link-wrapper {
    .sidebar-section-link {
      &:hover {
        background: $cyberpunk;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 100ms;
      }

      &.active {
        background: $cyberpunk;
      }
    }

    .btn-flat:focus {
      background: $cyberpunk;
    }
  }

  .sidebar-footer-wrapper {
    background: $cyberpunk;

    .sidebar-footer-container {
      background: none;

      &::before {
        display: none;
      }
    }

    .sidebar-footer-actions .btn {
      padding: 0.25em !important;
      margin-left: 0.5em;
      font-size: var(--font-0);
      border: none;

      .d-icon {
        color: var(--primary-medium);
      }
    }
  }
}

.discourse-no-touch .sidebar-section-wrapper .sidebar-section-header-wrapper {
  .btn:hover {
    background: none;
  }

  &:hover {
    color: rgb(255, 255, 255);
    border-radius: 4px;
    background: $cyberpunk;

    .sidebar-section-header-button .d-icon {
      color: var(--primary);
    }
  }
}

.discourse-no-touch
  .sidebar-section-wrapper
  .sidebar-section-header-wrapper
  .btn.dropdown-select-box-header:hover,
.discourse-no-touch
  .sidebar-section-wrapper
  .sidebar-section-header-wrapper
  .sidebar-section-header-button:hover {
  background: none;
}

.sidebar-section-wrapper {
  border-image: linear-gradient(
      rgb(255, 25, 223, 0.25),
      rgb(0, 208, 193, 0.25)
    )
    1;
}

.sidebar-wrapper
  .sidebar-section-link-wrapper
  .dropdown-menu
  .sidebar-section-link:hover {
  background: var(--primary);
  color: var(--secondary);

  .d-icon {
    color: var(--secondary);
  }
}
