blockquote {
  border: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

aside.quote .title {
  border-left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.moderator .regular > .cooked {
  background-color: var(--highlight);
  color: rgba(0, 0, 0, 0.8);
}

.topic-post,
.placeholder {
  margin-bottom: 8px;
}

.topic-post article.boxed {
  > .row {
    background: $cyberpunk;

    border-bottom: 1px solid $bios;
  }
}

.topic-avatar,
.topic-body {
  border-top: 0 none;
}

.topic-avatar {
  padding: 1em;
}

.topic-body {
  width: 100%;
  padding-top: 8px;
  .cooked {
    padding-left: 0;
    line-height: 1.6;
  }
  .topic-meta-data {
    padding-left: 0;
  }
  .who-liked {
    width: auto;
    margin-right: 8px;
  }
}

.embedded-posts {
  border-right: 0;
  .topic-avatar,
  .topic-body {
    border-bottom: 0;
  }

  &.bottom {
    border-right: 1px solid var(--primary-low);
    margin-right: 1em;
  }

  &.top {
    margin-top: 1em;
    border-right: 1px solid var(--primary-low);
    margin-right: 1em;
  }
}

.gap {
  color: var(--primary);
  padding-left: 1em;
  font-weight: normal;
  text-transform: none;
  font-family: "Overpass Mono";
}

.small-action {
  border-top: 0 none;

  .topic-avatar {
    display: none;
  }
  .small-action-desc {
    width: 100%;
    color: var(--primary);
    border-color: $bios;
    font-family: "Overpass Mono";
    padding: 1em;
  }
  &.topic-post-visited .topic-post-visited-line {
    border-color: var(--tertiary);
    margin-bottom: calc(1rem + 8px);
    .topic-post-visited-message {
      background-color: var(--tertiary);
      color: var(--primary);
    }
  }
}

.topic-post + .small-action {
  .small-action-desc {
    border: none;
    margin-top: -8px;
  }
}

#topic-footer-buttons {
  .bookmark.bookmarked {
    .d-icon-bookmark {
      color: var(--primary);
    }
    .discourse-no-touch & {
      &:hover,
      &.btn-hover {
        .d-icon-bookmark {
          color: var(--primary);
        }
      }
    }
  }
}

.topic-status-info,
.topic-timer-info {
  border-top: 0 none;
  &:empty {
    display: none;
  }
}

.posts-filtered-notice {
  max-width: calc(700px + (11px * 2) + 45px - (0.8em * 2));
}

.placeholder-text {
  width: calc(100% - 22px);
  margin-right: 11px;
  height: 1em;
}

.placeholder-avatar {
  border-radius: 0;
}

.placeholder-animation,
.placeholder-avatar:before {
  background: linear-gradient(
    to right,
    var(--tertiary-very-low) 10%,
    var(--tertiary-low) 18%,
    var(--tertiary-very-low) 36%
  );
}

// base:topic-list
@keyframes fade-in-rgba {
  0% {
    background-color: rgba(0, 0, 0, 1);
  }
  100% {
    background-color: rgba(33, 36, 36, 1);
  }
}

.show-more.has-topics {
  position: static;
}

.timeline-container .topic-timeline {
  padding-right: 0.5em;
  .timeline-scrollarea {
    border-left: none;
    border-right: 1px solid var(--tertiary-low-or-tertiary-high);
  }
  .timeline-scroller {
    flex-direction: row-reverse;
    margin-left: 0;
    margin-right: -0.22em;
  }
  .timeline-date-wrapper {
    text-align: right;
    max-width: unset;
  }
  .timeline-scroller-content {
    padding-left: 0;
    padding-right: 1em;
  }
  .timeline-replies,
  .timeline-controls {
    text-align: right;
  }
  .timeline-footer-controls {
    width: 100%;
    align-items: end;
    flex-direction: column-reverse;
  }
}

.container.posts .topic-map {
  max-width: 100%;
  border-color: $bios;
  font-family: "Overpass Mono";
  font-size: var(--font-down-1);
  &.--op {
    border-bottom: 1px solid $bios;
    border-top: none;
    margin-bottom: -8px;
  }
  &.--bottom {
    margin-top: -8px;
  }
  .topic-map__stat-label {
    color: var(--primary);
  }
}

.post-notice {
  padding-left: 1.25em;
  max-width: unset;
  background: var(--secondary);
  opacity: 0.5;
  border: none;
  &.old {
    background: var(--secondary);
  }
}

.topic-meta-data .post-info a {
  color: var(--primary-800);
}

.topic-notifications-button .topic-notifications-options {
  margin-right: 8px;
}

.post-info.edits .widget-button {
  .d-icon,
  .d-button-label {
    color: var(--primary-800);
  }
}

.topic-body .reply-to-tab {
  color: var(--primary-800);
}

.post-menu-area {
  --d-post-control-text-color: var(--primary-800);
  --d-post-control-text-color--hover: var(--primary);
  --d-post-control-icon-color: var(--primary-800);
  --d-post-control-icon-color--hover: var(--primary);
  --d-post-control-background--hover: rgba(255, 255, 255, 0.25);
  --d-post-control-create-text-color: var(--primary-800);
  --d-post-control-create-icon-color: var(--primary);
  --d-post-control-sibling-text-color--hover: var(--primary-medium);
}

.discourse-no-touch .topic-body .actions .fade-out {
  opacity: 1;
}

.discourse-no-touch
  nav.post-controls
  .actions
  .double-button
  button.button-count
  + .toggle-like:hover {
  background: rgba(255, 255, 255, 0.25);
  .d-icon {
    color: rgba(255, 255, 255, 0.5);
  }
}

#topic-progress-wrapper #topic-progress {
  color: var(--primary);
  border: none;

  .bg {
    background: var(--tertiary);
  }
}

.embedded-posts.bottom {
  border: none;
}

.embedded-posts .arrow {
  color: var(--tertiary);
}

.embedded-posts.bottom .collapse-up {
  border: none;
}

.embedded-posts.top {
  border: none;
  margin-left: 1em;
}

.embedded-posts.top .row .topic-body {
  margin-left: -1em;
  padding-left: 2em;
  &:before {
    background: $bios;
  }
}

.embedded-posts.bottom .collapse-up {
  background: var(--secondary);
}

nav.post-controls .show-replies[aria-expanded="true"] {
  background: var(--secondary);
  box-shadow: none;
}

.embedded-posts.bottom > div:last-of-type .row::before {
  background: $bios;
}

.embedded-posts.top {
  width: 100%;
}

.small-action.topic-post-visited .topic-post-visited-line {
  width: 100%;
}
