// type

@font-face {
  font-family: "Roboto Condensed";
  src: url($roboto-condensed);
}

@font-face {
  font-family: "Roboto Condensed";
  src: url($roboto-condensed-bold);
  font-weight: bold;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url($roboto-condensed-italic);
  font-style: italic;
}

@font-face {
  font-family: "Overpass Mono";
  src: url($overpass-mono);
}

$base-font-size: 16px;
$line-height: 1.5;
$base-font-family: "Roboto Condensed", "Helvetica Neue", helvetica, arial,
  sans-serif;
$heading-font-family: "Overpass Mono", monospace;

// color
$background: linear-gradient(
  to left,
  #1a1e32 25%,
  hsla(231, 31%, 20%, 1) 25%,
  hsla(231, 31%, 20%, 1) 40%,
  hsla(230, 32%, 22%, 1) 40%,
  hsla(230, 32%, 22%, 1) 50%,
  hsla(230, 32%, 24%, 1) 40%,
  hsla(230, 32%, 24%, 1) 75%,
  hsla(230, 32%, 26%, 1) 75%
);
$separtor-background: linear-gradient(
  to left,
  hsla(230, 32%, 22%, 1) 50%,
  hsla(230, 32%, 24%, 1) 50%
);
$cyberpunk: linear-gradient(
  120deg,
  rgba(255, 25, 223, 0.25),
  rgba(0, 208, 193, 0.25)
);
$cyberpunk-low: linear-gradient(
  120deg,
  rgba(255, 25, 223, 0.4),
  rgba(0, 208, 193, 0.4)
);
$cyberpunk-alt: linear-gradient(
  270deg,
  rgba(255, 25, 223, 0.4),
  rgba(0, 208, 193, 0.4)
);
$cyberpunk-alt-low: linear-gradient(
  270deg,
  #502266,
  #1e465f
);
$separator: linear-gradient(
  to right,
  rgba(0, 208, 193, 0),
  rgba(0, 208, 193, 0.75),
  rgba(0, 208, 193, 0)
);
$tertiary-alt: rgba(0, 208, 193, 0.8);
$highlight-alt: rgba(253, 238, 6, 0.25);
$bios: #1d3bf0;
$user-background: rgba(0, 0, 0, 0.5);
