<script type='text/x-handlebars' data-template-name='mobile/list/topic-list-item.raw'>
  {{~#unless expandPinned}}
  <a href="{{topic.lastPostUrl}}" data-user-card="{{topic.last_poster_username}}">{{avatar topic.lastPosterUser imageSize="large"}}</a>
  {{/unless~}}
  <div class='main-link'>
    <div class="link-top-line">
      {{~raw-plugin-outlet name="topic-list-before-status"}}
      {{~raw "topic-status" topic=topic~}}
      {{~topic-link topic~}}
      {{~#if topic.featured_link~}}
        {{~topic-featured-link topic~}}
      {{~/if~}}
      {{~#if topic.unseen~}}
        &nbsp;<span class="badge-notification new-topic"></span>
      {{~/if~}}
      {{~#if expandPinned~}}
      {{~raw "list/topic-excerpt" topic=topic~}}
      {{~/if~}}
    </div>
    <div class="link-bottom-line">
      {{#unless hideCategory}}
        <div class='category'>
          {{category-link topic.category}}
        </div>
      {{/unless}}
      <div class='num activity last'>
        <span class="age activity" title="{{topic.bumpedAtTitle}}"><a href="{{topic.lastPostUrl}}">{{format-date topic.bumpedAt format="tiny" noTitle="true"}}</a></span>
      </div>
      {{raw "list/post-count-or-badges" topic=topic postBadgesEnabled=showTopicPostBadges}}
      {{discourse-tags topic mode="list"}}
    </div>
  </div>
</script>

<script type='text/x-handlebars' data-template-name='mobile/components/basic-topic-list'>
  {{#conditional-loading-spinner condition=loading}}
    {{#if hasIncoming}}
    <div class="show-mores">
      <div class='alert alert-info clickable' {{action showInserted}}>
        {{count-i18n key="topic_count_" suffix="latest" count=incomingCount}}
      </div>
    </div>
    {{/if}}

    {{#if topics}}
      <ul class="topic-list">
        {{#each topics as |t|}}
          <li class="topic-list-item {{if t.archived 'archived'}} {{if t.visited 'visited'}}" data-topic-id={{t.id}}>
            <a href="{{t.lastPostUrl}}" title='{{i18n 'last_post'}}: {{{raw-date t.bumped_at}}}'>{{avatar t.lastPoster imageSize="large"}}</a>
            <div class='main-link'>
              <div class='link-top-line'>
                {{topic-status topic=t}}
                {{topic-link t}}
                {{#if t.unseen}}
                  <span class="badge-notification new-topic"></span>
                {{/if}}
                {{#if t.hasExcerpt}}
                  <div class="topic-excerpt">
                    {{{t.excerpt}}}
                    {{#if t.excerptTruncated}}
                      {{#unless t.canClearPin}}<a href="{{unbound t.url}}">{{i18n 'read_more'}}</a>{{/unless}}
                    {{/if}}
                    {{#if t.canClearPin}}
                      <a href {{action "clearPin" t}} title="{{i18n 'topic.clear_pin.help'}}">{{i18n 'topic.clear_pin.title'}}</a>
                    {{/if}}
                  </div>
                {{/if}}
              </div>
              <div class="link-bottom-line topic-item-stats clearfix">
                {{#unless hideCategory}}
                  <div class='category'>
                    {{category-link t.category}}
                  </div>
                {{/unless}}
                {{raw "list/activity-column" topic=t tagName="div" class="num activity last"}}
                <!--a href="{{t.lastPostUrl}}" title='{{i18n 'last_post'}}: {{{raw-date t.bumped_at}}}'>{{t.last_poster_username}}</a-->
                {{raw "list/post-count-or-badges" topic=t postBadgesEnabled="true"}}
                {{discourse-tags t mode="list" tagsForUser=tagsForUser}}
              </div>
            </div>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <div class='alert alert-info'>
        {{i18n 'choose_topic.none_found'}}
      </div>
    {{/if}}
  {{/conditional-loading-spinner}}
</script>

<script type='text/x-handlebars' data-template-name='mobile/components/categories-only'>
  {{#if categories}}
    <ul class="category-list {{if showTopics 'with-topics'}}">
      {{#each categories as |c|}}
        <li data-category-id={{c.id}}>
          <span class="category-color" style="background-color: #{{c.color}}"></span>
          <span class="category">
            {{category-title-link category=c}}
            {{#if c.description_excerpt}}
              <span class="category-description">
                {{{c.description_excerpt}}}
              </span>
            {{/if}}
            {{#if c.subcategories}}
              <span class="subcategories-list">
                <span class='subcategories'>
                  {{#each c.subcategories as |subcategory|}}
                    {{category-link subcategory}}
                  {{/each}}
                </span>
              </span>
            {{/if}}
          </span>
          <span class="topics">
            {{#if showTopics}}
              {{#each c.topics as |t|}}
                {{mobile-category-topic topic=t}}
              {{/each}}
            {{/if}}
          </span>
          <footer>
            <figure title="{{i18n 'all_time_desc'}}">{{number c.topics_all_time}} <figcaption>{{i18n 'all_time'}}</figcaption></figure>
            {{#if c.pickMonth}}
            <figure title="{{i18n 'month_desc'}}">{{number c.topics_month}} <figcaption>{{i18n 'month'}}</figcaption></figure>
            {{/if}}
            {{#if c.pickWeek}}
              <figure title="{{i18n 'week_desc'}}">{{number c.topics_week}} <figcaption>{{i18n 'week'}}</figcaption></figure>
            {{/if}}
          </footer>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</script>

<script type='text/x-handlebars' data-template-name='components/mobile-category-topic'>
  <div class='main-link'>
    <div class='topic-inset'>
      {{raw "topic-status" topic=topic}}
      {{topic-link topic}}
      {{#if topic.unseen}}
        <span class="badge-notification new-topic"></span>
      {{/if}}
      <span class="{{cold-age-class topic.last_posted_at}}" title='{{raw-date topic.last_posted_at}}'>{{{format-age topic.last_posted_at}}}</span>
    </div>
  </div>
</script>

<script type="text/discourse-plugin" version="0.8">
  api.modifyClass('controller:admin-site-settings', {
    actions: {
      toggleMenu() {
        $(".admin-nav").toggleClass("mobile-open");
        $(".admin-detail").toggleClass("mobile-closed mobile-open");
      }
    }
  });
  api.modifyClass('controller:admin-plugins', {
    actions: {
      toggleMenu() {
        $(".admin-nav").toggleClass("mobile-open");
        $(".admin-detail").toggleClass("mobile-closed mobile-open");
      }
    }
  });
  api.modifyClass('controller:admin-watched-words', {
    actions: {
      toggleMenu() {
        $(".admin-nav").toggleClass("mobile-open");
        $(".admin-detail").toggleClass("mobile-closed mobile-open");
      }
    }
  });
</script>
