@import "variables";

// base:alert
.alert.alert-info {
  margin-bottom: 8px;
}

// base:compose
#reply-control .submit-panel .save-or-cancel .cancel {
  color: #fff;
}

// base:directory
.directory .user {
  border: 0;
}

// base:discourse
.mobile-view .mobile-nav {
  border: 0;
  background: rgb(0, 0, 0, 0.5);

  .drop.expanded {
    border: 0;
  }
}

// base:group(s)
@media screen and (width <= 550px) {
  .groups-table tr {
    padding: 8px;
  }
}

.group-members .group-member {
  border: 0;
}

// base:menu-panel
.user-menu .quick-access-panel.quick-access-profile li:not(.show-all) {
  border: 0;
}

// base:search
.search-container {
  .search-advanced-sidebar {
    .search-advanced-title {
      &.btn {
        background: transparent;
        border-radius: 0;
      }
    }
  }
}

.topic-list {
  display: flex;
  min-width: 0;

  .topic-list-body {
    min-width: 0;
  }

  .topic-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;

    .activity,
    .pull-right {
      display: none;
    }

    .topic-list-data {
      display: contents;
    }

    .topic-item-metadata {
      margin-left: 8px;
      flex-grow: 1;
      min-width: 0;
    }

    .pull-left {
      float: unset;
    }

    .topic-item-stats {
      margin-top: 4px;
    }

    .topic-item-stats__category-tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      .discourse-tags .discourse-tag {
        margin-right: 4px;
      }
    }
  }

  .main-link {
    width: auto;
  }
}

.topic-avatar {
  padding: 8px;
  margin: 0;
}

.topic-list .topic-item-stats__category-tags {
  max-width: 100%;
}

tr.category-topic-link {
  margin-top: 8px;
  border-bottom: 0;
}

.list-controls {
  margin: 0;

  .nav-pills {
    margin-left: 0;
  }
}

// base:topic-post
.topic-post {
  article {
    border: 0;
    padding: 0;
  }

  .regular > .cooked {
    img:not(.thumbnail) {
      max-width: 100%;
    }
  }
}

.topic-body {
  width: auto;
  padding: 8px;
}

// base:user
.user-main {
  margin-bottom: 10px;
}

.user-main .about {
  background: transparent;

  .secondary dl {
    padding: 8px;
  }
}

.user-navigation {
  background-color: rgb(0, 0, 0, 0);
}

.user-table {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
}

.user-badges-list {
  padding: 8px;
}

// components:navs
.nav-pills > li.navigation-toggle {
  color: #fff;
  background-color: var(--tertiary);
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 25px -3px var(--tertiary);
}

.list-controls .nav-pills .drop {
  border: 0;
}

// components:user-stream
.user-right {
  margin: 8px;

  > .user-stream {
    > .alert:first-child {
      margin-top: 0;
    }
  }
}

.paginated-topics-list {
  margin-top: 0;
}

.user-stream {
  .item,
  .user-stream-item {
    padding: 8px;
  }
}

.category-list.with-topics .category {
  width: 100%;
  background: $cyberpunk;
}

.category-list-item {
  margin-bottom: 0;
}

.categories-list .category-list td {
  color: var(--primary-800);
}

.category-list-item > footer,
.subcategory-list-item > footer {
  border-image: linear-gradient(rgb(255, 25, 223, 0.25), rgb(0, 208, 193, 0.25))
    1;
}

.sidebar-sections {
  --d-sidebar-highlight-backgrond: var(--d-hover);
  --d-sidebar-active-background: var(--d-hover);
  --d-sidebar-active-color: var(--secondary);
}

.topic-list .topic-list-item-separator {
  display: flex;
  width: 100%;
  justify-content: center;
}
