@import "variables";
@import "buttons";
@import "sidebar";
@import "chat";
@import "topic";
@import "topic-list";
@import "composer";
@import "dropdowns-modals";
@import "categories";
@import "plugins";

// base:discourse
body {
  font-family: $base-font-family;
  line-height: $line-height;
  background: $background;
}

h1,
h2,
h3,
h4 {
  font-family: $heading-font-family;
}

img.avatar {
  display: inline-block;
  background-color: var(--secondary);
  border-bottom: 2px solid var(--highlight);
  border-radius: 0;
}

html:not(.admin-area) {
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] {
    border: 0;
    font-family: "Overpass Mono", monospace;
  }

  .d-editor-textarea-wrapper,
  div.ac-wrap,
  .select-kit.combo-box .select-kit-header,
  .select-kit.multi-select .multi-select-header {
    border: 0;
  }
}

textarea[disabled] {
  background-color: var(--secondary);
  opacity: 0.4;
}

table {
  tbody {
    border-top: none;
  }

  tr {
    border-bottom: none;
  }
}

.spinner {
  border-width: 2px;
  border-color: var(--tertiary);
  border-right-color: transparent;
}

mark,
span.highlighted {
  background-color: rgb(0, 208, 193, 0.25);
}

// base:alert
.alert.alert-info {
  background-color: $tertiary-alt;

  &.clickable,
  a,
  button {
    color: var(--primary);
  }

  a,
  .btn-link.btn-text {
    text-decoration: underline;
  }

  .close {
    opacity: 0.4;

    &:hover {
      opacity: 0.6;
    }

    .d-icon {
      color: var(--primary);
    }
  }
}

// base:directory
.directory .me {
  background: $cyberpunk;
}

.directory table td {
  border: 0;
}

.directory-table .me .directory-table__cell,
.directory-table .me .directory-table__cell--user-field {
  background: transparent;
}

@container (max-width: 47em) {
  .directory-table__row {
    border-image: linear-gradient(
        rgb(255, 25, 223, 0.25),
        rgb(0, 208, 193, 0.25)
      )
      1;
  }
}

.directory-table__column-header,
.directory-table__cell {
  border-image: linear-gradient(
      rgb(255, 25, 223, 0.25),
      rgb(0, 208, 193, 0.25)
    )
    1;
}

// base:group(s)
.groups-boxes {
  .group-box {
    background: $cyberpunk;
    border: 0;
  }
}

.groups-table {
  background-color: $user-background;
}

.group-details-container {
  background: transparent;
  padding: 0;
}

table.group-members {
  width: auto;
  margin-left: 8px;
  margin-right: 8px;

  tr:last-child {
    border-bottom: 0 none;
  }
}

.group-details-button {
  top: 0;
  right: 0;
}

.group {
  .user-table {
    background: $user-background;
  }
}

// base:header
.d-header {
  background: $background;
  box-shadow: none;

  @if $invert-logo == "true" {
    .logo-big,
    #site-logo {
      filter: invert(1);
    }
  }

  .d-header-icons {
    .icon {
      &:hover,
      &:focus {
        background-color: rgb(255, 255, 255, 0.1);
      }

      .d-icon {
        color: #fff;
      }
    }

    .active .icon {
      border-color: transparent;

      .d-icon {
        color: #fff;
      }
    }
  }
}

.header-sidebar-toggle button:focus:hover,
.discourse-no-touch .header-sidebar-toggle button:hover {
  background-color: rgb(255, 255, 255, 0.1);

  .d-icon {
    color: var(--primary-medium);
  }
}

// base:menu-panel
.menu-panel {
  font-family: "Overpass Mono", monospace;
  border: 0;

  .panel-body-bottom .btn {
    background-color: transparent;
    color: var(--quaternary);

    .d-icon {
      color: var(--quaternary);
    }
  }
}

.quick-access-panel .btn {
  text-transform: none;
}

.user-menu .quick-access-panel,
.menu-panel {
  li:not(.show-all, .category-link, .search-random-quick-tip) {
    &:hover,
    &:focus-within {
      color: var(--secondary);

      a,
      span {
        color: var(--secondary);
      }
    }
  }
}

.user-menu .quick-access-panel li.unread,
.user-menu .quick-access-panel li.pending,
.user-notifications-list li.unread,
.user-notifications-list li.pending {
  background: var(--d-hover);

  .item-description,
  .item-label {
    color: var(--secondary) !important;
  }
}

.user-menu.revamped .panel-body .tabs-list .btn:hover,
.user-menu.revamped .panel-body .tabs-list .btn.active {
  background: var(--d-hover);

  .d-icon {
    color: var(--secondary);
  }
}

.user-menu.revamped .tabs-list .btn {
  &:hover,
  &.active {
    background: var(--tertiary-low);
  }
}

.user-menu .quick-access-panel li:hover .d-icon {
  color: var(--secondary);
}

.user-menu .quick-access-panel {
  border-color: var(--tertiary);
}

div.menu-links-header .menu-links-row {
  button {
    background-color: transparent;

    .d-icon {
      color: var(--tertiary);
    }

    &:hover {
      background-color: var(--tertiary);

      .d-icon {
        color: var(--primary);
      }
    }

    &.active {
      background-color: transparent;
      border-top-color: var(--tertiary);
      border-left-color: var(--tertiary);
      border-right-color: var(--tertiary);
    }
  }
}

// base:onebox
aside.onebox {
  border-width: 1px;
  border-color: var(--tertiary);
}

// base:personal-message
.archetype-private_message {
  .topic-body .cooked {
    border-radius: 0;
    border-color: transparent;
    margin-left: -2em;
  }

  .current-user-post:not(.moderator) .topic-body .cooked {
    border: none;
  }

  .map:first-of-type .buttons .btn {
    border-radius: 0;
  }

  .small-action-desc.timegap {
    padding: 1em 0;
    margin-top: 0;
    margin-left: 0;
    background: transparent;
  }
}

// base:search-menu
.search-menu {
  .searching {
    top: 0.1em;
  }

  .results {
    .results .search-result-user .item:hover .user-result .user-titles,
    .results .search-result-user .item:focus-within .user-result .user-titles {
      .name,
      .username {
        color: var(--secondary);
      }
    }
  }
}

// base:search
.search-container {
  .search-page-heading span.term {
    background: var(--tertiary);
  }

  .search-header {
    background: $cyberpunk;
    border-bottom: 1px solid $highlight-alt;
  }

  .search-bar,
  .search-filters,
  .search-filters .search-advanced-filters {
    background: transparent;
  }

  .search-advanced {
    .search-info {
      background: $cyberpunk;
      border-bottom: 0 none;
      margin-bottom: 0;
    }

    .search-notice .fps-invalid {
      border: 0;
    }
  }
}

.search-results {
  .fps-result {
    margin-bottom: 8px;
    padding: 8px;
    background: $cyberpunk;
    border-bottom: 1px solid $bios;

    .search-link,
    .search-link:visited .topic-title {
      color: var(--primary);
    }

    .date {
      margin-right: 4px;
    }
  }
}

// base:topic-admin-menu
.popup-menu {
  border: 0;
  box-shadow: none;
}

.selected-posts .btn:not(.btn-danger) {
  color: #fff;

  .d-icon {
    color: #fff;
  }
}

// base:upload
.uploaded-image-preview {
  background-color: #000;
}

// base:user-badges
#user-card .badge-section {
  .user-badge,
  .more-user-badges {
    background: #000;
    border: 0;
  }
}

.badge-card {
  background: $cyberpunk;
  border: 0;
}

.check-display.status-checked {
  background-color: var(--tertiary);
}

// base:user
.user-content-wrapper {
  background: $user-background;

  .user-secondary-navigation {
    .btn {
      margin-left: 8px;
    }
  }

  .user-additional-controls {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.user-content {
  background-color: transparent;
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;

  .btn.btn-primary,
  .btn.btn-default {
    background: rgb(255, 255, 255, 0.25);
  }
}

.user-notifications-filter {
  margin-bottom: 1em;
}

.user-notifications-list {
  margin-top: 1em;

  .read {
    background: $cyberpunk;

    .discourse-no-touch & {
      &:hover {
        background: transparent;
      }
    }
  }
}

.user-right {
  flex: 1;
  display: block;
  margin: 8px;
}

.user-main {
  background: $cyberpunk;

  h1,
  h2 {
    font-family: $base-font-family;
  }

  .about {
    box-sizing: border-box;
    padding: 8px;
  }

  .user-navigation {
    padding: 8px;
  }

  .about,
  .about.collapsed-info {
    margin-bottom: 0;

    .secondary {
      border: 0;
    }

    .details {
      background: transparent;
      border-bottom: 0 none;
    }
  }

  .user-content {
    background: transparent;
    flex: 1;

    .admin-controls {
      background: transparent;

      nav {
        background: transparent;

        &::before,
        &::after {
          content: none;
        }
      }
    }
  }
}

.user-navigation {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;

  .btn {
    margin-left: 8px;
  }
}

.user-table {
  background: $user-background;
  margin-top: 0;
}

.user-nav {
  margin: 0;
}

.horizontal-overflow-nav__scroll-right,
.horizontal-overflow-nav__scroll-left {
  &::before,
  &::after {
    display: none;
  }
}

.post-list .post-list-item {
  background: $cyberpunk;
}

.top-section {
  padding: 8px;
}

.top-sub-section {
  li {
    border-left: 0 none;
    padding-left: 0;
  }

  .topic-info {
    color: #b4b4b4;
  }
}

.replies-section,
.topics-section,
.links-section {
  li {
    border-left: 0;
  }
}

.links-section {
  .domain {
    color: #b4b4b4;
  }
}

.user-preferences {
  flex: 1;

  .uploaded-image-preview {
    background: #000;
  }

  .instructions {
    color: #aaa;
  }
}

.user-theme-creator {
  flex: 1;
  border: 0;

  .btn {
    margin-left: 8px;
  }
}

.user-content.user-badges-list {
  background-color: transparent;
}

// components:badges
.badge-wrapper {
  &.bullet {
    margin-right: 8px;

    span.badge-category {
      color: var(--tertiary);

      .category-name {
        color: var(--tertiary);
      }
      font-weight: bold;
    }

    .badge-category-bg {
      width: 4px;
      height: 8px;
    }
  }

  .badge-category {
    .category-name {
      color: var(--primary);
    }
  }
}

.badge-notification {
  &.new-posts,
  &.unread {
    background-color: transparent;
  }

  &.new-posts {
    color: var(--tertiary);
  }

  &.unread-posts {
    color: var(--primary);
    font-weight: normal;
    box-shadow: 0 0 25px -3px var(--tertiary);
  }
}

.badge-group {
  background-color: var(--secondary);
  border: 0;
}

// components:navs
.nav-pills,
.admin-controls .nav-pills {
  > li > a:hover,
  > li.active > a,
  > li > a.active {
    color: #fff;
    background-color: var(--tertiary);
    border-radius: 4px;
    box-shadow: 0 0 25px -3px var(--tertiary);
  }
}

.nav-pills > li > a {
  &::after {
    display: none;
  }
}

.nav-pills > li a.active .d-icon {
  color: var(--primary);
}

.nav-pills > li > a .d-icon.d-icon-caret-down {
  margin-right: 0;
}

.nav-stacked {
  background-color: rgb(0, 0, 0, 0.25);

  li {
    border-bottom: 0;
  }

  a.active {
    color: #fff;
    background-color: transparent;
  }

  a:hover {
    background-color: rgb(0, 0, 0, 0.25);
  }

  a.active::after {
    border-left-color: #fff;
  }
}

// components:keyboard_shortcuts
.latest .featured-topic {
  padding-left: 0;
}

#keyboard-shortcuts-help ul span {
  background-color: transparent;
}

kbd {
  font-style: normal;
  background: #eee;
  border-width: 1px 3px 3px 1px;
  border-style: solid;
  border-color: #ccc #aaa #888 #bbb;
  box-shadow: none;
}

#keyboard-shortcuts-help ul kbd,
kbd {
  font-family: "Overpass Mono", monospace;
  color: var(--secondary);
}

// components:user-stream
.user-stream,
.user-right {
  > .alert:first-child {
    margin-top: 0;
  }
}

.user-stream {
  .item,
  .user-stream-item {
    border-bottom: 1px solid $bios;
    margin-bottom: 8px;
  }

  .item.notification {
    background-color: transparent;
    border-bottom: 0;

    &.unread {
      background-color: $tertiary-alt;

      a,
      a:visited {
        color: var(--primary);
      }
    }
  }
}

// select-kit:topic-notifications-button
.navigation-controls {
  .fk-d-button-tooltip {
    button {
      height: 100%;
    }
  }
}

.user-main .about.collapsed-info .details .primary .user-profile-names__primary,
.name-username-wrapper,
.names > span a {
  font-family: "Overpass Mono", monospace;
}

a.mention,
a.mention-group {
  font-family: "Overpass Mono", monospace;
  background: rgb(255, 255, 255, 0.25);
}

a.mention.--current,
a.mention-group.--current {
  background: $cyberpunk;
}

div.edit-category .edit-category-nav .nav-stacked,
div.edit-category .edit-category-title-bar {
  background: $cyberpunk;
}

.fk-d-menu-modal.list-control-toggle-link-content .dropdown-menu a.active {
  background: var(--d-hover);
  color: var(--secondary);
}

.admin-content .admin-contents {
  padding: 1em;
}

.admin-area .sidebar-wrapper .admin-panel {
  background: transparent;
}
