<!-- Remove topic list header -->
<script type='text/x-handlebars' data-template-name='topic-list-header.raw'></script>

<!--  Restructure topic list item  -->
<script type='text/x-handlebars' data-template-name='components/topic-list'>
  {{plugin-outlet
    name="before-topic-list-body"
    args=(hash
      topics=topics
      selected=selected
      bulkSelectEnabled=bulkSelectEnabled
      lastVisitedTopic=lastVisitedTopic
      discoveryList=discoveryList
      hideCategory=hideCategory)
    tagName=""
    connectorTagName=""}}

  {{#each filteredTopics as |topic|}}
    {{topic-list-item topic=topic
                      bulkSelectEnabled=bulkSelectEnabled
                      showTopicPostBadges=showTopicPostBadges
                      hideCategory=hideCategory
                      showPosters=showPosters
                      showLikes=showLikes
                      showOpLikes=showOpLikes
                      expandGloballyPinned=expandGloballyPinned
                      expandAllPinned=expandAllPinned
                      lastVisitedTopic=lastVisitedTopic
                      selected=selected
                      tagsForUser=tagsForUser}}
    {{raw "list/visited-line" lastVisitedTopic=lastVisitedTopic topic=topic}}
  {{/each}}
</script>

<script type='text/x-handlebars' data-template-name='list/topic-list-item.raw'>
  {{#if bulkSelectEnabled}}
    <td class="bulk-select topic-list-data">
      <input type="checkbox" class="bulk-select">
    </td>
  {{/if}}

  {{!--
    The `~` syntax strip spaces between the elements, making it produce
    `<a class=topic-post-badges>Some text</a><span class=topic-post-badges>`,
    with no space between them.
    This causes the topic-post-badge to be considered the same word as "text"
    at the end of the link, preventing it from line wrapping onto its own line.
  --}}
  <span class="main-link topic-list-data">
    <span class='link-top-line'>
      {{~raw-plugin-outlet name="topic-list-before-status"}}
      {{~raw "topic-status" topic=topic}}
      {{~topic-link topic class="raw-link raw-topic-link"}}
      {{~#if topic.featured_link}}
      {{~topic-featured-link topic}}
      {{~/if}}
      {{~raw-plugin-outlet name="topic-list-after-title"}}
      {{~#if showTopicPostBadges}}
      {{~raw "topic-post-badges" unread=topic.unread unseen=topic.unseen url=topic.lastUnreadUrl newDotText=newDotText}}
      {{~/if}}
    </span>
    <span class="link-bottom-line">
      {{#unless hideCategory}}
        {{#unless topic.isPinnedUncategorized}}
          {{category-link topic.category}}
        {{/unless}}
      {{/unless}}
      {{raw "list/activity-column" topic=topic class="num" tagName="a"}}
      {{raw "list/posts-count-column" topic=topic}}
      <span class="num views {{topic.viewsHeat}}">
        {{d-icon "far-eye"}}
        {{number topic.views numberKey="views_long"}}
      </span>
      {{discourse-tags topic mode="list" tagsForUser=tagsForUser}}
      {{raw "list/action-list" topic=topic postNumbers=topic.liked_post_numbers className="likes" icon="heart"}}
    </span>
    {{#if expandPinned}}
      {{raw "list/topic-excerpt" topic=topic}}
    {{/if}}
  </span>
  <span class="fill topic-list-data"></span>
  <span class="secondary topic-list-data">
    {{#if showPosters}}
      {{raw "list/posters-column" posters=topic.featuredUsers}}
    {{/if}}
  </span>
</script>

<script type='text/x-handlebars' data-template-name='list/activity-column.raw'>
  <{{tagName}} class="{{class}} {{cold-age-class topic.createdAt startDate=topic.bumpedAt class=""}} activity post-activity topic-list-data" href="{{topic.lastPostUrl}}" title="{{{topic.bumpedAtTitle}}}">
    {{~raw-plugin-outlet name="topic-list-before-relative-date"~}}
    {{~format-date topic.bumpedAt format="tiny" noTitle="true"~}}
  </{{tagName}}>
</script>

<script type='text/x-handlebars' data-template-name='list/posts-count-column.raw'>
  <{{view.tagName}} class='posts-map posts {{view.likesHeat}} topic-list-data' title='{{view.title}}'>
    <a href class='num posts-map badge-posts {{view.likesHeat}}'>
      {{d-icon "far-comment"}}
      {{raw-plugin-outlet name="topic-list-before-reply-count"}}
      {{number topic.replyCount noTitle="true"}}
    </a>
  </{{view.tagName}}>
</script>

<script type='text/x-handlebars' data-template-name='list/posters-column.raw'>
  {{#each posters as |poster|}}
    <a href="{{poster.user.path}}" data-user-card="{{poster.user.username}}" class="{{poster.extraClasses}}">{{avatar poster avatarTemplatePath="user.avatar_template" usernamePath="user.username" namePath="user.name" imageSize="small"}}</a>
  {{/each}}
</script>

<script type='text/x-handlebars' data-template-name='list/visited-line.raw'>
  {{#if view.isLastVisited}}
    <hr class='topic-list-item-separator' data-message="{{i18n 'topics.new_messages_marker'}}"></hr>
  {{/if}}
</script>

<!-- Restructure parent-category-row -->
<script  type='text/x-handlebars' data-template-name='components/parent-category-row'>
  {{#unless isHidden}}
    {{plugin-outlet name="category-list-above-each-category" connectorTagName="" tagName="" args=(hash category=category)}}

    <li data-category-id={{category.id}} data-notification-level={{category.notificationLevelString}} class="{{if c.description_excerpt "has-description" "no-description"}} {{if category.uploaded_logo.url "has-logo" "no-logo"}}">
      <div class="item">
        <span class="category-color" style="background-color: #{{category.color}}"></span>
        <span class="category {{if isMuted "muted"}}">
          {{category-title-link category=category}}
          {{#if category.description_excerpt}}
            <div class="category-description">
              {{dir-span category.description_excerpt htmlSafe="true"}}
            </div>
          {{/if}}
          {{#if category.subcategories}}
            <div class='subcategories'>
              {{#each category.subcategories as |subcategory|}}
                {{sub-category-item category=subcategory listType=listType}}
              {{/each}}
            </div>
          {{/if}}
        </span>
        <span class="topics">
          <div title={{category.statTitle}}>{{{html-safe category.stat}}}</div>
          {{category-unread category=category tagName="div" class="unread-new"}}
        </span>
        {{#unless isMuted}}
          {{#if showTopics}}
            <span class="latest">
              {{#each category.featuredTopics as |t|}}
                {{featured-topic topic=t}}
              {{/each}}
            </span>
          {{/if}}
        {{/unless}}
      </div>
    </li>
  {{/unless}}
</script>

<!-- Restructure category list item -->
<script  type='text/x-handlebars' data-template-name='components/categories-only'>
  {{#if categories}}
    {{#if filteredCategories}}
      <ul class="category-list {{if showTopics 'with-topics'}}" aria-labelledby="categories-only-category">
        {{#each categories as |category|}}
          {{parent-category-row category=category showTopics=showTopics}}
        {{/each}}
      </ul>
    {{/if}}

    {{#if mutedCategories}}
      <div class="muted-categories">
        <a href class="muted-categories-link" {{action "toggleShowMuted"}}>
          <h3 class="muted-categories-heading">{{i18n "categories.muted"}}</h3>
          {{#if mutedToggleIcon}}
            {{d-icon mutedToggleIcon}}
          {{/if}}
        </a>
        <ul class="category-list {{if showTopics "with-topics"}} {{unless showMutedCategories "hidden"}}">
          {{#each categories as |category|}}
            {{parent-category-row category=category showTopics=showTopics listType="muted"}}
          {{/each}}
        </ul>
      </div>
    {{/if}}
  {{/if}}

  {{plugin-outlet name="below-categories-only" tagName="" connectorTagName="div" args=(hash categories=categories showTopics=showTopics)}}
</script>

<script type="text/discourse-plugin" version="0.8">
  var topicList = require('discourse/components/topic-list').default;

  topicList.reopen({
    tagName: 'ul'
  });
</script>

<script type="text/discourse-plugin" version="0.8">
  var topicListItem = require('discourse/components/topic-list-item').default;

  topicListItem.reopen({
    tagName: 'li'
  });
</script>

<script type="text/discourse-plugin" version="0.8">
api.reopenWidget("quick-access-panel", {
  html(attrs, state) {
    const h = require("virtual-dom").h;
    if (!state.loaded) {
      this.refreshNotifications(state);
    }

    if (state.loading) {
      return [h("div.spinner-container", h("div.spinner"))];
    }

    const items = this.getItems().length
      ? this.getItems().map((item) => this.itemHtml(item))
      : [this.emptyStatePlaceholderItem()];

    let bottomItems = [];

    if (!this.hideBottomItems()) {
      const tab = I18n.t(this.attrs.titleKey).toLowerCase();

      bottomItems.push(
        // intentionally a link so it can be ctrl clicked
        this.attach("link", {
          title: "view_all",
          titleOptions: { tab },
          icon: "chevron-down",
          className: "btn btn-primary btn-icon no-text show-all",
          "aria-label": "view_all",
          ariaLabelOptions: { tab },
          href: this.showAllHref(),
        })
      );
    }

    if (this.hasUnread()) {
      bottomItems.push(
        this.attach("button", {
          title: "user.dismiss_notifications_tooltip",
          icon: "check",
          label: "user.dismiss",
          className: "btn btn-primary notifications-dismiss",
          action: "dismissNotifications",
        })
      );
    }

    return [h("ul", items), h("div.panel-body-bottom", bottomItems)];
  }
});
</script>
