@import "variables";

.topic-list {
  .topic-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .topic-list-data {
    padding: 0;
  }

  .main-link {
    padding: 0.25em 0.5em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .link-bottom-line {
      line-height: var(--line-height-large);
      align-items: center;
    }
  }

  .posters {
    flex-grow: 0;
    width: auto;
    margin-right: 0.5em;
  }
}

.container.posts .topic-map {
  padding-inline: 0.75em;
}

// base:category-list
.category-list {
  li {
    box-sizing: border-box;
    width: calc(33.33% - (8px / 3) * 2);
  }

  .topics {
    display: none;
  }

  thead {
    display: none;
  }

  .category {
    background: $cyberpunk;
  }
}

.categories-and-latest,
.categories-and-top {
  .category-list {
    li {
      width: auto;
    }
  }
}

// base:compose
.fullscreen-composer #reply-control {
  &.fullscreen {
    &::before {
      background: $bios;
    }
  }
}

.composer-popup {
  background: $bios;
  box-shadow: none;
}

// base:group(s)
.group {
  .user-table {
    .wrapper {
      flex-wrap: wrap;
      justify-content: center;

      .group-members-actions + div {
        flex: 100%;
      }
    }
  }
}

// base:user
.new-user-wrapper {
  border-top: 1px solid;
  border-image: linear-gradient(rgb(255, 25, 223, 0.25), rgb(0, 208, 193, 0.25))
    1;

  .user-navigation {
    border-image: linear-gradient(
        rgb(255, 25, 223, 0.25),
        rgb(0, 208, 193, 0.25)
      )
      1;
  }
}

.user-main .about .secondary dt {
  color: var(--quaternary);
}

.user-main .staff-counters {
  background: $cyberpunk;

  > div,
  > div a {
    color: var(--primary);
  }
}

.user-table {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
}

// base:topic-post
.topic-post article,
.placeholder {
  .row {
    display: flex;
    flex-direction: row;
  }
}

.topic-post.sticky-avatar .topic-avatar {
  margin-bottom: 0;
}

.topic-body {
  padding-top: 8px;

  .topic-meta-data {
    padding-left: 0;
  }

  .who-liked {
    width: auto;
    margin-right: 8px;
  }
}

.topic-avatar {
  .avatar-flair {
    top: 35px;
    right: 0;
  }
}

// base:topic
#topic-title .edit-topic-title {
  max-width: 774px;
}

.private-message-glyph {
  color: var(--primary);
}

.post-actions {
  margin-right: 8px;

  .trigger-user-card {
    margin-right: 4px;
  }
}

.post-menu-area {
  margin-right: 8px;
}

// base:login
.d-modal.create-account .login-form::before,
.d-modal.create-account .login-form::after {
  content: none;
}

// plugins:docs
.docs-browse .docs-filters {
  padding-right: 0;
  margin-right: 2em;
}

.latest-topic-list-item .topic-last-activity a {
  color: var(--primary-800);
}
