@import "variables";

// base:group(s)
.group {
  .user-table {
    .wrapper {
      flex-wrap: wrap;
      justify-content: center;
      .group-members-actions + div {
        flex: 100%;
      }
    }
  }
}

// base:user
.user-navigation {
  background-color: rgba(0,0,0,0.25);
}

.user-table {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
}

// base:compose
.fullscreen-composer #reply-control {
  &.fullscreen {
    &:before {
      background: $bios;
    }
  }
}

.composer-popup {
  background: $bios;
}

// base:topic
#topic-title .edit-topic-title {
  max-width: 774px;
}

.private-message-glyph {
  color: $primary;
}

.post-actions {
  margin-right: 8px;
  .trigger-user-card {
    margin-right: 4px;
  }
}

// base:topic-post
.topic-post {
  margin-bottom: 8px;
  article {
    .row {
      display: flex;
      flex-direction: row;
    }
  }
}

.topic-avatar, .topic-body {
  background-color: rgba(0,0,0,1);
  border-top: 0 none;
  border-bottom: 1px solid $bios;
}

.topic-avatar {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.topic-body {
  padding-top: 8px;
  .topic-meta-data { padding-left: 0; }
  .who-liked {
    width: auto;
    margin-right: 8px;
  }
}

.topic-map {
  margin-right: 8px;
}

.topic-avatar {
  .avatar-flair {
    top: 35px;
    right: 0;
  }
}

// base:topic
.post-menu-area {
  margin-right: 8px;
}

// base:category-list
.category-list {
  li {
    box-sizing: border-box;
    width: calc(33.33% - (8px/3)*2);
  }
}

.categories-and-latest, .categories-and-top {
  .category-list {
    li {
      width: auto;
    }
  }
}

.category-boxes, .category-boxes-with-topics {
  .category-box {
    width: calc(33.33% - (8px/3)*2);
  }
}

// base:login
.d-modal.create-account .login-form::before,
.d-modal.create-account .login-form::after {
  content:none;
}

// admin:dashboard_next
.dashboard-next {
  &.admin-contents {
    padding: 8px;
    margin-top: 0;
  }
  .section .section-title, .section-title {
    border: 0;
  }
  .navigation {
    border: 0;
    .navigation-item:hover {
      background-color: rgba(0,0,0,0.25);
    }
  }
}

// admin
// admin:dashboard_next
.dashboard-next-reports {
  .reports-list {
    .report {
      box-sizing: border-box;
      width: calc(33.33% - 8px);
    }
    .report:nth-child(3n) {
      margin-right: 0;
    }
  }
}

// plugins:docs
.docs-browse .docs-filters {
  padding-right: 0;
  margin-right: 2em;
}
